Select a tabular dataset that you prefer. (Titanic, PlaygroundFeb21, HeartAttack, etc.)


Train and validate some models with optuna hyperparameter optimization.

In [1]:
import pandas as pd
import optuna

In [4]:
#importing data

#PlaygroundFeb21
path_feb = "/home/hodaya/Documents/My repos/ai_mar21/Datasets/Tabular/tabular-playground-feb21"

#playgroundJan 21
path_jan = "../../Datasets/Tabular/tabular-playground-jan21"


#HeartAttack
path_heart = "../../Datasets/Tabular/"
df_HA = pd.read_csv(path_heart + "heart_attack.csv")

In [5]:
df_HA.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0